.information-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center;
  min-height: 100vh; /* Ensure it takes the full height of the viewport */
  width: 100%;
  background-color: #ffffff;
}
