.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  height: 100vh; 
  background-color: #282c34;
}

.scrollable-chain-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.scrollable-chain-container {
  overflow: hidden;
  width: calc(100% - 60px); /* Adjust the width to leave space for the arrows */
}

.scrollable-chain {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  direction: rtl;
}

.chain-item {
  flex: 0 0 33.33%; /* Each block takes up 1/3 of the container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #4caf50;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0 5px; /* Adjust margin as needed */
  border-radius: 10px;
}

.chain-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  color: #4caf50;
  cursor: pointer;
  z-index: 2;
  padding: 0 20px;
}

.chain-button.left {
  left: -30px; /* Position the left arrow outside the container */
}

.chain-button.right {
  right: -30px; /* Position the right arrow outside the container */
}