.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.logo {
  max-height: 30vh;
  padding: 0;
  margin: 0;
}

.content-container {
  width: 80vw;
  height: 80vh; /* Fixed height for the content container */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.scrollable-chain-parent-container {
  width: 80vw;
  height: 15vh;
  padding-bottom: 50px;
}

/* Row container for aligning information and extra containers side by side */
.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the containers */
  align-items: flex-start; /* Align the containers at the top */
  width: 80vw;
  margin-top: 20px;
  gap: 20px; /* Add space between the containers */
}

.information-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.block-summary-container {
  flex: 0 1 auto; /* Allow the container to take only the width it needs */
  display: flex;
  justify-content: center;
  width: 400px; /* Fixed width for both collapsed and expanded state */
}

.transaction-summary-container {
  flex: 1 1 auto; /* Allow the container to take up the remaining space */
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.information-container {
  position: relative;
  padding: 20px;
  background: #1d1d1d;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  transition: padding 0.5s ease-in-out;
  overflow: hidden;
  width: 100%; /* Ensure the content takes up the full width */
}

.block-number {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.block-timestamp {
  font-style: italic;
  color: #e0aaff;
  font-size: 14px;
  padding-top: 5px;
}

.divider {
  border: none;
  height: 1px;
  background-color: #5a189a;
  margin: 10px 0 20px 0;
}

.block-label {
  font-weight: normal;
  font-size: 12px;
  color: #ffffff;
  margin-right: 5px;
}

.block-value {
  font-weight: bold;
  font-size: 12px;
  color: #e0aaff;
}

.transaction-summary-table {
  width: 100%;
  border-collapse: collapse;
  display: block; /* Allow the table to be scrollable */
}

.transaction-summary-table thead,
.transaction-summary-table tbody {
  display: block; /* Make thead and tbody blocks */
}

.transaction-summary-table tbody {
  max-height: 200px; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling for tbody */
}

.transaction-summary-table th,
.transaction-summary-table td {
  padding: 10px;
  text-align: left;
}

.transaction-summary-table th {
  font-weight: normal;
  font-size: 12px;
  color: #ffffff;
  border-bottom: 1px solid #4a015c;
}

.transaction-summary-table td {
  color: #e0aaff;
}

.dummy-graph {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100px;
  background-color: #240046;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(224, 170, 255, 0.3),
    0 0 30px rgba(224, 170, 255, 0.2);
}

.bar {
  width: 20px;
  background-color: #e0aaff;
  transition: height 0.3s ease-in-out;
}
