.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #10002b;
}

.content-container {
  width: 80vw;
  height: 80vh; /* Fixed height for the content container */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.scrollable-chain-parent-container {
  width: 80vw;
  height: 15vh;
  padding-bottom: 50px;
}

.scrollable-chain-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.scrollable-chain-container {
  overflow: hidden;
  width: calc(100% - 80px);
}

.scrollable-chain {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.chain-item {
  flex: 0 0 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 0 15px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chain-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(192, 130, 230, 0.3),
    0 6px 6px rgba(192, 130, 230, 0.2);
}

.chain-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  color: #c082e6;
  cursor: pointer;
  z-index: 2;
  padding: 0 20px;
}

.chain-button.left {
  left: -30px;
}

.chain-button.right {
  right: -30px;
}

.chain-item.invisible {
  visibility: hidden;
}

/* New CSS classes for gradients */
.chain-item.selected {
  /* background: linear-gradient(135deg, #e0aaff, #240046); */
  background: #360568;
  box-shadow: 0 0 10px rgba(224, 170, 255, 0.3),
    0 0 30px rgba(224, 170, 255, 0.2);
  border: 1px solid #e0aaff; /* Added border */
  font-size: 20px;
  color: #ffffff;
  font-weight: bolder;
}

.chain-item.unselected {
  background: #240046;
  /* background: linear-gradient(135deg, #fff, #f4ebff); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
}

/* Row container for aligning information and extra containers side by side */
.row-container {
  display: flex;
  justify-content: center; /* Center the containers */
  align-items: flex-start; /* Align the containers at the top */
  width: 80vw;
  margin-top: 20px;
  gap: 20px; /* Add space between the containers */
}

.information-parent-container {
  flex: 0 0 auto; /* Allow the containers to take only the width of their content */
  display: flex;
  justify-content: center;
}

.information-container {
  position: relative;
  padding: 20px;
  background: #240046;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(224, 170, 255, 0.3),
    0 0 30px rgba(224, 170, 255, 0.2);
  width: 500px;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  transition: padding 0.5s ease-in-out;
  overflow: hidden;
  max-height: 300px;
}

.information-container.collapsed {
  max-height: 80px;
  padding-bottom: 0;
  transition: max-height 1s ease-in-out, padding 0.5s ease-in-out; /* Slow down collapse */
}

.information-container.expanded {
  max-height: 1000px; /* Adjust this value to be large enough to accommodate the expanded content */
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out; /* Speed up expand */
}

.block-number {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.block-timestamp {
  font-style: italic;
  color: #e0aaff;
  font-size: 14px;
  padding-top: 5px;
}

.divider {
  border: none;
  height: 1px;
  background-color: #5a189a;
  margin: 10px 0 20px 0;
}

.block-label {
  font-weight: normal;
  font-size: 12px;
  color: #ffffff;
  margin-right: 5px;
}

.block-value {
  font-weight: bold;
  font-size: 12px;
  color: #e0aaff;
}

.transaction-summary-table {
  width: 100%;
  border-collapse: collapse;
  display: block; /* Allow the table to be scrollable */
}

.transaction-summary-table thead,
.transaction-summary-table tbody {
  display: block; /* Make thead and tbody blocks */
}

.transaction-summary-table tbody {
  max-height: 200px; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling for tbody */
}

.transaction-summary-table th,
.transaction-summary-table td {
  padding: 10px;
  text-align: left;
}

.transaction-summary-table th {
  font-weight: normal;
  font-size: 12px;
  color: #ffffff;
  border-bottom: 1px solid #4a015c;
}

.transaction-summary-table td {
  color: #e0aaff;
}
